@font-face {
    font-family: 'ProximaNova_Reg';
    src: url('res/ProximaNova_Reg.woff2') format('woff2');
    font-weight: normal;
}
@font-face {
    font-family: 'ProximaNova_Bold';
    src: url('res/ProximaNova_Bold.woff2') format('woff2');
    font-weight: bold;
}

body { margin: 0; font-size: 18px; font-family: 'ProximaNova_Reg', serif; color: #222; }
a { color: inherit; text-decoration-width: 2px; text-decoration-color: #08e; }

h1, h2, strong { font-family: 'ProximaNova_Bold'; }
