@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

body {
    font-family: "PT Sans", sans-serif;
    margin: 0;

    /* background-color: #DAE0E6; */
    background-image: url('https://i.redd.it/rqzbouw8osgc1.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

a {
    color: #48f;
    text-decoration-style: dotted;
}

.box {
    background-color: white;
    background-size: cover;
    background-position: center;
    
    border-radius: 8px;
    box-sizing: border-box;
}

hr {
    margin: 0;
    border: 0;
    border-top: 1px solid lightgrey;
}

#postheader { display: flex; align-items: center; gap: 0.5em; padding: 1em; }
#postheader > img { aspect-ratio: 1; border-radius: 2px; width: 32px; }

.images { display: flex; flex-wrap: wrap; align-items: start; }
