@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --black: #101013;
    --grey: #556;
    --white: #EEF;
    --accent: #A6F;
}

body { font-family: "Inter", sans-serif; color: var(--white); background: var(--black); }
