@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body { font-family: "Roboto", sans-serif; font-size: 18px; color: #333; background: #ddd; margin: 0; }

h1, h2, h3 { font-family: "Roboto Condensed", sans-serif; }
h1 { font-size: 2.5em; }
h2 { margin-top: 1em; color: #05b; font-size: 1.8em; }
h3 { margin-top: 2em; border-bottom: 1px solid #bbb; padding-bottom: 4px; }

img { height: 200px; }

p { line-height: 1.5em; }
li { margin-bottom: 1em; }

aside, aside a { color: #ddd; }
main a { color: #05b; }

iframe { aspect-ratio: calc(16 / 9); height: 400px; border: 0; }

var { display: inline-block; background: linear-gradient(to bottom, #eee, #ddd); font-style: normal; font-family: monospace; padding: 2px 4px; border: 1px solid grey; border-radius: 4px; font-size: 14px; margin-top: 4px; }
